body{

    width:400px;

    padding:15px;

    background:black;

    color:white;

    font-family:Arial;
}

h1{

    text-align:center;
}

.card{

    border:1px solid white;

    padding:10px;

    margin-bottom:10px;

    border-radius:8px;
}